<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Reverse and learn</h1>
        <p>In a program, there a always a dark corner that you could find.</p>
        <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
      </div>
    </div>

    <div class="container">
        {{ content }}
    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
