<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Xiao Han</h1>
        <p>Xiao has obtained his Ph.D in September 2017 at Eurecom Graduate
        School and Research Center under the supervision of Davide Balzarotti
        and now works as a security researcher at Orange Labs.</p>
      </div>
    </div>

    <div class="container">
        {{ content }}
    </div><!-- /.container -->

    {% include footer.html %}

  </body>

</html>
